@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
    </h1>
</div>
